html,

body {
  font: 10px sans-serif;
}
h1 {
　font-family:Arial, Helvetia,sans-serif;
  font-size:30px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
.bar:hover {/*滑鼠經過*/
  opacity: 0.6;
  transition:all 0.3s;
}
.circle{
  -webkit-transition: r 0.5s; /* Safari */
  transition: r 0.5s;  
}
.circle:hover {/*滑鼠經過*/
   r:5.8;
}

.x.axis path {
  display: none;
}

.d3-tip {/*數字*/
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.line2 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.small{
 color: #000;
}
.mark{
 color: #000;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #000;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
